html,
body {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    margin: 0;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* login */
.login-form {
    background-color: #c4bd97;
    height: 400px; /* Puedes ajustar la altura según tus necesidades */
    width: 400px; /* Ancho fijo */
    display: flex;
    flex-direction: column;
    padding: 3em;
    border-radius: 1em;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 1em; 
}

.login-form label {
    margin-top: 0.5em; 
}

.login-form > input {
    border-radius: 0.3em;
    border: 0;
    width: 100%;
    margin: 0.5em 0;
    font-size: 1.3em;
    padding: 1em;
}

.login-form > input:focus {
    outline: none;
}

.login-form > button {
    margin-top: auto;
    height: 4em;
    border: 0;
    border-radius: 0.3em;
    background-color: azure;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #303f9f; 
}
