html,
body {
    font-family: sans-serif;
    height: 100%;
    display: flex;
    margin: 0;
}


p {
    margin-block-start: 0;
    text-indent: 1rem;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    width: 40px;
    margin: 1.5rem 0 1rem 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: row; 
    background-color: beige;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    
    overflow-x: auto;
    white-space: nowrap;
}

.sidebar button {
    background: none; 
    color: black; 
    border: none; 
    padding: 1rem; 
    cursor: pointer;
    margin: 10px 0; 
    transition: background-color 0.3s; 
}


.sidebar button:hover {
    background-color: rgba(255,252,255,0.1); 
}


.sidebar > a {
    margin: 0.5rem;
    display: inline-block;
}

.form-panel {
    margin-top: 20px;
}

.page-container {
    flex-direction: column;
    padding: 0 1rem;
}


.socials-container {
    display: flex;
    justify-content: space-between;
}

.socials-card {
    display: flex;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;

    text-decoration: none;
    color: unset;
}

.socials-card:hover {
    background-color: lightgray;
}

.socials-card > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}


/* login */
.login-form {
  background-color: #c4bd97;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 3em;
  border-radius: 1em;
  text-align: center;
}

/*
.login-form h2 {
    margin-bottom: 1em; 
}

.login-form label {
    margin-top: 0.5em; 
}
    */

.login-form > input {
  border-radius: 0.3em;
  border: 0;
  width: 100%;
  margin: 0.5em 0;
  font-size: 1.3em;
  padding: 1em;
}


.login-form > input:focus{
  outline: none;
}

.login-form > button {
  margin-top: auto;
  height: 4em;
  border: 0;
  border-radius: 0.3em;
  background-color: azure;
  cursor: pointer;
}

.login-form button:hover {
    background-color: #303f9f; 
}