body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Sidebar secundaria */
.sidebar-secundaria-animal {
    position:fixed;
    width: 100%;
    background-color: #d5d6a8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 3.5em;
    left: 0;
    padding: 1em;
    z-index: 999; 
    margin-bottom: 20px;
}

.sidebar-secundaria-animal button {
    background-color: none;
    color: black;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s; 
}

.sidebar-secundaria-animal button:hover {
    background-color: rgba(255,252,255,0.1);
}

.sidebar-secundaria-animal button.active {
    background-color: #4CAF50;
    color: white;
}

.page-container-animal {
    margin-top: 70px; 
    padding: 15px;
    display: flex; 
    justify-content: center; 
}

/* Ocultar todos los paneles al inicio */
.form-panel-animal {
    display: none;
    background-color: #c4bd97;
    height: auto; 
    width: 400px; 
    display:flex;
    flex-direction: column;
    padding: 2em; 
    border-radius: 1em;
    top: 5em;
    margin-top: 100px;
}

/* Mostrar el panel activo */
.form-panel-animal.active {
   display:flex; 
}


.form-panel h2 {
    margin: 0 0 1em;
    margin-bottom: 1.3em;
}

 /* campos entrada */
.form-panel-animal input {
    border-radius: 0.3em;
    border: 0;
    width: 95%;
    font-size: 0.95em;
    padding: 0.5em;
    margin-bottom: 1.3em; 
}

/* labels */
.form-panel-animal label {
    margin: 1em 0 0.5em; 
    font-size: 1.2em;
    width: 100%;
    text-align: left;
}

.form-panel-animal > input:focus {
    outline: none;
    font-size: 1.5;
    margin-bottom: 1.3em;
}

/* boton */
.button-container-animal {
    margin-top: 1.5.em; 
    width: 100%; 
}

.button-container-animal > button {
    margin-top: 1em; 
    height: 4em;
    border: 0;
    border-radius: 0.1em;
    background-color: azure;
    cursor: pointer;
    width: 100%;
}

.button-container-animal > button:hover {
    background-color: #e6cb76; 
}

/* Mapa */
#map {
    width: 100%;
    height: 400px;
    background-color: #eee; /* Temporal para visualizar el área del mapa */
}


.map-panel {
    width: 600px; 
}

