/* Texto centrado */
.full-width-text {
    text-align: center; 
}

.full-width-text h1 {
    margin: 0; 
    font-size: 2.5em; 
    color: black; 
}

.full-width-text p {
    margin: 0; 
    font-size: 1.2em; 
    color: #555; 
}